body{
  background-color: darkseagreen;
}


.add-remove{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}


td{
  height : 50px;
  width: 50px;
background-color: lavender;
}

.button:hover {
background:linear-gradient(to bottom, darkcyan 5%  ,teal 100%);
}

h2, p{
text-align: center;

}

.button {
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:7px 15px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  color: black 0%;
  text-shadow: black;
  padding: 4px;
}
.center{
  align-items: center;
  margin-left: auto;
  margin-right: auto;

}
.setMargin{

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

